<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
        <script type="text/javascript" src="echarts.min.js"></script>
</head>
<body>
	<div id="main" style="height:200px; width:450px;"></div>
	<script type="text/javascript">
	window.onDeviceOneLoaded = function() {
		var page = deviceone.sm("do_Page");
	    var nf = deviceone.sm("do_Notification");
	    var global = deviceone.sm("do_Global");
	    var storage = deviceone.sm("do_Storage");
	    var times = global.getMemory("times");
	    var myChart = echarts.init(document.getElementById('main'));
	    var d0 = new Date();
	    var d = JSON.stringify(new Date()).substring(9, 11)
	    var d1 = JSON.stringify(new Date(d0 - (86400000 * 1))).substring(9, 11);
	    var d2 = JSON.stringify(new Date(d0 - (86400000 * 2))).substring(9, 11);
	    var d3 = JSON.stringify(new Date(d0 - (86400000 * 3))).substring(9, 11);
	    var d4 = JSON.stringify(new Date(d0 - (86400000 * 4))).substring(9, 11);
	    var d5 = JSON.stringify(new Date(d0 - (86400000 * 5))).substring(9, 11);
	    var d6 = JSON.stringify(new Date(d0 - (86400000 * 6))).substring(6, 11);

	    var chart_option = function(){
	        var xsqs_data = global.getMemory("xsqs_data");
	        var day_list = global.getMemory("day_list");
	        var channel = global.getMemory("channel");
	        var option = {
        		title: {
	   		        text: '一周记步情况',
	   		        left: 'center'
	   		    },
	            tooltip: {trigger: 'axis'},
	            legend: {
	            	left: 'left',
	                data: []
	            },
	            calculable: true,
	            xAxis: [
	                {
	                    type: 'category',
	                    boundaryGap: true,
	                    data: [d6,d5,d4,d3,d2,d1,d],
	                    splitLine: {show: false}
	                }
	            ],
	            yAxis: [
	                {
	                    type: 'value',
	                    axisLabel: {formatter: '{value} 步'}
	                }
	            ],
	            series: []
	        };
	        option.legend.data = ['步数']
	        option.legend.data.forEach(function(v, k){
	            option.series.push({
	                name: v,
	                type: 'line',
	                data: [{"t":global.getMemory("T")}][k].t
	            })
	        });
	        return option;
	    };
	    if (times == 0){
	        myChart.setOption(chart_option());
	    }
        page.on("xsqs", function(data){
            myChart.setOption(chart_option());
        });
	}
	</script>
</body>
</html>